{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Image and round https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg 300*300#}
{# Put a div that will center our elements using tailwind #}
<div class="flex justify-center">


{# Put a div that will contain our image and text with a grey border#}

    <div class="flex flex-col items-center ">
        <div class="border-2 border-gray-120 rounded-lg p-4 flex justify-center flex-col">
        {% if user.email == 'orchidee@flower.com' %}
            <img src="https://cdn.trictrac.net/documents/formats/structured_data_16_9/documents/originals/8b/c7/e2e9db6964b3dd42b6216481575434bd0ce6.jpeg" alt="Orchidee" class="rounded-full h-64 w-64">
        {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" alt="Eagle" class="rounded-full h-64 w-64">
        {% endif %}

        <h2 class="text-3xl font-bold mt-4">{{user.firstName}} {{ user.lastName }}</h2>
        <h2 class="text-2xl font-bold mt-4 mb-4">{{ user.email }}</h2>
            <a type="button"  href="{{ path('app_modify_profile') }}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">Modifier Profil</a>
        </div>

        {% if companies|length > 0 %}
                <h2 class="text-2xl font-bold mt-4">Vos entreprises !</h2>
            {% for company in companies %}
                <a href="{{ path('app_show_company', {'id': company.id}) }}" class="flex flex-col items-center bg-white rounded-lg my-5 border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100">
                    <img class="object-cover w-32 p-5 rounded-3xl"
                         src="https://logo.clearbit.com/{{ company.name }}.com" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ company.name }}</h5>
                        <p class="mb-3 font-normal text-gray-700">{{ company.description }}</p>
                    </div>
                </a>
            {% endfor %}
        {% elseif offers|length > 0 %}
                <h2 class="text-2xl font-bold mt-4">Vos offres auxquelles vous avez postulé !</h2>
            {% for offer in offers %}
                <a href="{{ path('app_show_offer', {'id': offer.id}) }}" class="flex flex-col items-center bg-white rounded-lg my-5 border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100">
                    <img class="object-cover w-32 p-5 rounded-3xl"
                            src="https://logo.clearbit.com/{{ offer.getCompanyId().getName() }}.com" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ offer.getCompanyId().getName() }}</h5>
                        <p class="mb-3 font-normal text-gray-700">{{ offer.description }}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h2 class="text-2xl font-bold mt-4">Vous n'avez pas encore d'entreprise ou d'offre !</h2>
        {% endif %}

    </div>

    </div>
</div>


{% endblock %}
