{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="flex items-center flex-col">
        <div class="w-5/6 flex justify-between">
            <div class="w-full">
                <h2 class="text-5xl font-bold italic">Tu cherche ta future pépite pour ton équipe ?</h2>
                <p class="text-lg italic">Ils cherchent, ils trouveront chez vous !</p>
                <div class="my-10 form w-2/4">
                    {{ form_start(form) }}

                    <div class="mb-6">
                        {{ form_label(form.name,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 '}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                    </div>
                    <div class="mb-6">
                        {{ form_label(form.description,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 '}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                    </div>
                    <div class="mb-6">
                        {{ form_label(form.zipcode,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 '}}) }}
                        {{ form_widget(form.zipcode, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                    </div>

                    <div class="mb-6 flex justify-center">
                        {{ form_widget(form.submit, {'attr': {'class': 'text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2'}}) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="w-5/6 flex justify-between">
            <div class="w-8/12">
                <h2 class="text-5xl font-bold italic">Ils nous font confiance !</h2>
                <p class="text-lg italic">Et oui, il n'y a pas que vous qui cherche un développeur d'enfer pour votre
                    entreprise !</p>
                {% for company in lastCompanies %}
                    <a href="{{ path('app_show_company', {'id': company.id}) }}"
                       class="flex flex-col items-center bg-white rounded-lg my-5 border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100">
                        <img class="object-cover w-32 p-5 rounded-3xl"
                             src="https://logo.clearbit.com/{{ company.name }}.com" alt="">
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ company.name }}</h5>
                            <p class="mb-3 font-normal text-gray-700">{{ company.description }}</p>
                        </div>
                    </a>
                {% endfor %}
                <a href="#"
                   class="flex flex-col items-center bg-white rounded-lg my-5 border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100">
                    <img class="object-cover w-32 p-5 rounded-3xl"
                         src="https://logo.clearbit.com/plus.com" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Et pleins d'autre</h5>
                        <p class="mb-3 font-normal text-gray-700">Plus de {{ companies|length }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
